<h1>Filmes de <%=@genre.name%> - <%= link_to 'Editar', edit_genre_path(@genre.id)%></h1>
<ul>
    <% @films.each do |film| %>
        <li>
            <%text = film.title + " (" + film.release_year.to_s + ")"%>
            <%= link_to text, film_path(film.id)%>
        </li>
    <% end %>
</ul>

<%= render partial: 'shared/menu', locals: { link_to_previous_page: genres_path } %>