<h1>Diretores cadastrados</h1>
<ul>
    <% @directors.each do |director| %>
        <li>
            <%= link_to director.name, director_path(director.id)%>
        </li>
    <% end %>
</ul>
<%= link_to 'Novo diretor', new_director_path%> <br>

<%= render partial: 'shared/menu', locals: { link_to_previous_page: root_path } %>